<template>
    <div>
        <div class="form-group">
            <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded"
                 style="padding: 20px;">
                <div class="m-portlet__body">
                    <div class="form-group">
                        <label>Date :</label>
                        <div class="input-group date">
                            <input type="text" name="date" class="form-control m-input" readonly id="m_datepicker_3"
                                   :value="date">
                            <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="padding-right: 0">
                <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded"
                     style="padding: 20px;">
                    <div class="m-portlet__body">
                        <!--                        <div class="form-group">-->
                        <!--                            <label>Date :</label>-->
                        <!--                            <div class="input-group date">-->
                        <!--                                <input type="text" name="date" class="form-control m-input" readonly id="m_datepicker_3"-->
                        <!--                                       :value="date">-->
                        <!--                                <div class="input-group-append">-->
                        <!--                            <span class="input-group-text">-->
                        <!--                                <i class="la la-calendar"></i>-->
                        <!--                            </span>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="form-group">
                            <label>Time :</label>
                            <div class='input-group timepicker'>
                                <input type="text" class="form-control m-input" id="m_timepicker_2" v-model="time"
                                       readonly
                                       v-if="showTime">
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Title :</label>
                            <input type="text" class="form-control m-input" v-model="title">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success float-right" type="button" @click="addData">
                                {{ edit ? 'EDIT':'ADD'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <table class="table m-table m-table--head-bg-brand">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(agenda, index) in agendas">
                        <td>{{ index + 1}}</td>
                        <td>
                            <input type="text" name="time[]" readonly :value="agenda.time" style="border: 0;">
                        </td>
                        <td>
                            <input type="text" name="title[]" readonly :value="agenda.title" style="border: 0;">
                        </td>
                        <td>
                            <button class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x btn-sm"
                                    type="button" @click="editData(index)">
                                <i class="la la-edit"></i>
                            </button>
                            <button class="btn btn-outline-danger m-btn m-btn--icon m-btn--outline-2x btn-sm"
                                    type="button"
                                    @click="deleteData(index)">
                                <i class="la la-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CreateAgenda",
        props: {
            preview: false
        },
        data() {
            return {
                date: null,
                agendas: [],
                edit: false,
                dataIndex: null,
                title: null,
                time: null,
                showTime: true,
            }
        },
        mounted() {
            if (this.preview) {
                this.date = agenda.date;
                this.agendas = agenda.agendas;
            }
            $('#m_timepicker_2').change(e => {
                this.time = e.target.value;
            });
            $('#m_datepicker_3').change(e => {
                this.date = e.target.value;
            });
        },
        methods: {
            setupTimePicker() {
                $("#m_timepicker_2, #m_timepicker_2_modal").timepicker({
                    minuteStep: 1,
                    defaultTime: "0:00:00",
                    showSeconds: !0,
                    showMeridian: !1,
                    snapToStep: !0
                });
                $('#bootstrap-timepicker-widget').timepicker();
            },
            deleteData(index) {
                let vm = this;
                swal({
                    title: "Are you sure?",
                    text: "You want to delete this item?",
                    type: "warning",
                    showCancelButton: !0,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: !0
                }).then(function (ans) {
                    ans.value ?
                        vm.$delete(vm.agendas, index) :
                        "cancel" === ans.dismiss;
                });
            },
            addData() {
                let checkSameTime = this.agendas.filter(agenda => {
                    return agenda.time === this.time;
                });
                if (checkSameTime.length) {
                    return toastr.error("Required Unique Time");
                }
                if (this.edit) {
                    this.agendas[this.dataIndex].time = this.time;
                    this.agendas[this.dataIndex].title = this.title;
                } else {
                    this.agendas.push({
                        time: this.time,
                        title: this.title
                    });
                }
                this.clearData();
            },
            clearData() {
                this.title = null;
                this.dataIndex = null;
                this.edit = false;
                this.setupTimePicker();
            },
            editData(index) {
                let data = this.agendas[index];
                if (data) {
                    this.time = data.time;
                    this.title = data.title;
                    this.dataIndex = index;
                    this.edit = true;
                }
            },
        }
    }
</script>

<style scoped>

</style>
