<template>
    <div>
        <div class="row">
            <div class="col-6">
                <h5>List</h5>
                <input type="text" class="form-control" v-model="search" placeholder="Search ..">
                <draggable class="list-group scroll_list" element="ul" v-model="lists" :options="dragOptions"
                           :move="onMove"
                           @start="isDragging=true" @end="isDragging=false">
                    <transition-group type="transition" :name="'flip-list'">
                        <li class="list-group-item" v-for="element in filteredList" :key="element.id">
                            <i :class="'la la-align-justify'" aria-hidden="true"></i>
                            {{element.name}}
                            <span class="badge">{{element.name}}</span>
                        </li>
                    </transition-group>
                </draggable>
            </div>
            <div class="col-6" style="background-color: #f5f6f7;">
                <h5>Attached List</h5>
                <draggable class="list-group scroll_list" element="ul" v-model="lists2" :options="dragOptions"
                           :move="onMove">
                    <transition-group name="no" class="list-group" tag="ul">
                        <li class="list-group-item" v-for="element in lists2" :key="element.id">
                            <i :class="'la la-align-justify'" aria-hidden="true"></i>
                            {{element.name}}
                            <span class="badge">{{element.name}}</span>
                            <input type="text" :value="element.id" name="attached_list[]" hidden>
                        </li>
                    </transition-group>
                </draggable>
                <span>{{ lists2.length }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: "AttachList",
        props: {
            edit: {
                default: false
            }
        },
        components: {
            draggable,
        },
        data() {
            return {
                lists: lists,
                lists2: [],
                search: '',
            }
        },
        created() {
            if (this.edit) {
                this.lists2 = attached_lists.map((list, index) => {
                    let id = list.id;
                    let name = list.name;
                    return {id, name};
                });
            }
        },
        methods: {
            onMove({relatedContext, draggedContext}) {
                const relatedElement = relatedContext.element;
                const draggedElement = draggedContext.element;
                return (
                    (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
                );
            }
        },
        computed: {
            dragOptions() {
                return {
                    animation: 0,
                    group: "description",
                    ghostClass: "ghost"
                };
            },
            filteredList() {
                return this.lists.filter(e => {
                    return e.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    }
</script>

<style scoped>
    .flip-list-move {
        transition: transform 0.5s;
    }

    .no-move {
        transition: transform 0s;
    }

    .ghost {
        opacity: 0.5;
        background: #c8ebfb;
    }

    .list-group {
        min-height: 20px;
    }

    .list-group-item {
        cursor: move;
    }

    .list-group-item i {
        cursor: pointer;
    }

    .scroll_list {
        height: 400px;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
</style>
