<template>
    <div class="upload-wrapper">
        <div class="upload-widget card">
            <div class="card-header clearfix">
                <h4 class="panel-title pull-left">Upload Video(Max Size: 2 GB)</h4>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm" @click.prevent="onClickCross">
                        <i class="fa fa-window-close"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <vue-dropzone
                    @vdropzone-success="onSuccessUpload"
                    @vdropzone-error="onUploadError"
                    ref="myVueDropzone"
                    id="dropzone"
                    :options="dropzoneOptions">
                </vue-dropzone>
                <hr>
                <!--<span></span>-->
                <hr>
                <button class="btn btn-success pull-right" @click.prevent="onAddVideo">Add</button>
            </div>
        </div>
    </div>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.css'

    const TRAILER_VIDEO = 'trailer_video';
    const FULL_VIDEO = 'full_video';

    export default {
        name: 'app',
        components: {
            vueDropzone: () => import('vue2-dropzone'),
        },
        props: {
            onClose: {
                type: Function,
                required: true,
            },
            fileName: {
                type: String,
                required: true,
            }
        },
        data: function () {
            return {
                finished: false,
                video: {},
                dropzoneOptions: {
                    url: video_upload_url,
                    chunking: true,
                    chunkSize: 1048576, // Bytes
                    maxFilesize: 2 * 1024, //mb
                    maxFiles: 1,
                    acceptedFiles: '.mp4,.mpg4,.mpeg,.mpg,.avi,.3gp',
                    paramName: 'video',
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload fa-fw'></i> Drop video here to upload",
                    // parallelChunkUploads: true,
                    // parallelUploads: 100,
                    headers: {
                        'X-CSRF-TOKEN': token.content
                    }
                }
            }
        },
        mounted() {
            this.finished = false;
        },
        methods: {
            onClickCross() {
                this.onClose(false)
            },
            onAddVideo() {
                if (!this.finished) {
                    return toastr.warning('Please wait. Video is still uploading ..');
                }
                this.onClose(this.video)
            },
            onRemoveFile(file) {
                delete this.video.indexOf(file);
            },
            onUploadError(file, response) {
                toastr.error(response);
            },
            onSuccessUpload(response) {
                if (response.status !== 'success') {
                    return toastr.error('Something Wrong!');
                }
                if (this.fileName === FULL_VIDEO) {
                    this.video = {
                        full_url: JSON.parse(response.xhr.response).url,
                    };
                } else {
                    this.video = {
                        trailer_url: JSON.parse(response.xhr.response).url,
                    };
                }
                this.finished = true;
            }
        }
    }
</script>

<style>
    .upload-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        width: 100%;
        overflow: auto;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.8);
    }

    .upload-widget {
        border: 1px solid #333;
        background: #fff;
        width: 60%;
        margin: 0 auto;
        margin-top: 100px;
    }
</style>
