<template>
    <div class="prod-images">
        <div class="row">
            <div class="col-sm-5 prod-image-col" v-if="video">
                <div class="tools">
                    <a href="#" :disabled="true"><i class="fa fa-arrow-left"></i></a>
                    <a href="#" @click.prevent="remove(video)"><i class="fa fa-trash"></i></a>
                    <a href="#" :disabled="true"><i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="img-responsive prod-image">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <td class="text-left">{{ video.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td class="text-left">{{ video.title }}</td>
                        </tr>
                    </table>
                </div>
                <span v-if="fileName === 'trailer_video'">
                    <input type="text" name="trailer_url" :value="video.trailer_url" hidden>
                </span>
                <span v-if="fileName === 'full_video'">
                    <input type="text" name="full_url" :value="video.full_url" hidden>
                </span>
            </div>
        </div>
        <template v-if="openWidget">
            <upload-video-widget
                :file-name="this.fileName"
                :on-close="onClose">
            </upload-video-widget>
        </template>
        <button class="btn btn-sm" type="button" @click="openWidget = true"><i class="fa fa-plus fa-fw"></i>Upload
        </button>
    </div>
</template>

<script>
    import UploadVideoWidget from './UploadVideoWidget'

    export default {
        props: {
            preview: {
                default: false
            },
            fileName: {
                type: String,
                required: true
            }
        },
        components: {
            UploadVideoWidget,
        },
        data() {
            return {
                openWidget: false,
                video: null,
                uploaded_url: null
            }
        },
        mounted() {
            this.preview ?
                this.video = video : null;
        },
        methods: {
            remove(data) {
                console.log(data);
                let vm = this;
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: !0,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: !0
                }).then(function (ans) {
                    if (!ans) {
                        return;
                    }
                    axios.post(delete_video_url, {'filename': vm.fileName, 'url': data}).then(res => {
                        vm.video = null;
                    }).catch(err => {
                        console.log(err);
                    });
                });
            },
            onClose(file) {
                this.openWidget = false;
                if (!file) {
                    return;
                }
                console.log(file);
                this.video = file;
            }
        },
        watch: {}
    }
</script>
<style>
    .prod-images {
        background: #eee;
        padding: 10px;
    }

    .prod-image {
        background: #fff;
        height: 150px;
        margin: 0 auto 16px;
        max-width: 100%;
    }

    .prod-image-col {
        text-align: center;
    }

    .prod-image-col:hover .tools {
        visibility: visible;
    }

    .tools {
        display: flex;
        visibility: hidden;
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        padding: 4px;
        background: rgba(0, 0, 0, 0.8);
        justify-content: space-between;
        color: #fff;
    }

    .tools a[disabled=disabled] {
        opacity: 0.3;
    }

    .tools a {
        color: #fff;
        padding: 10px 15px;
        border-radius: 3px;
    }

    .tools a:hover {
        background: rgba(255, 255, 255, 0.4);
    }
</style>
