	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/03/2017 20:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./fonts/flaticon/Flaticon.eot");
  src: url("./fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/flaticon/Flaticon.woff") format("woff"),
       url("./fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("./fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}    

.flaticon-users:before { content: "\f100"; }
.flaticon-list-3:before { content: "\f101"; }
.flaticon-file-1:before { content: "\f102"; }
.flaticon-time-3:before { content: "\f103"; }
.flaticon-profile-1:before { content: "\f104"; }
.flaticon-time-2:before { content: "\f105"; }
.flaticon-list-2:before { content: "\f106"; }
.flaticon-multimedia-2:before { content: "\f107"; }
.flaticon-interface-9:before { content: "\f108"; }
.flaticon-file:before { content: "\f109"; }
.flaticon-background:before { content: "\f10a"; }
.flaticon-chat-1:before { content: "\f10b"; }
.flaticon-graph:before { content: "\f10c"; }
.flaticon-pie-chart:before { content: "\f10d"; }
.flaticon-bag:before { content: "\f10e"; }
.flaticon-warning-2:before { content: "\f10f"; }
.flaticon-visible:before { content: "\f110"; }
.flaticon-line-graph:before { content: "\f111"; }
.flaticon-diagram:before { content: "\f112"; }
.flaticon-statistics:before { content: "\f113"; }
.flaticon-paper-plane:before { content: "\f114"; }
.flaticon-cogwheel-2:before { content: "\f115"; }
.flaticon-lifebuoy:before { content: "\f116"; }
.flaticon-settings:before { content: "\f117"; }
.flaticon-menu-button:before { content: "\f118"; }
.flaticon-user:before { content: "\f119"; }
.flaticon-apps:before { content: "\f11a"; }
.flaticon-clock-1:before { content: "\f11b"; }
.flaticon-close:before { content: "\f11c"; }
.flaticon-pin:before { content: "\f11d"; }
.flaticon-circle:before { content: "\f11e"; }
.flaticon-interface-8:before { content: "\f11f"; }
.flaticon-technology-1:before { content: "\f120"; }
.flaticon-danger:before { content: "\f121"; }
.flaticon-exclamation-square:before { content: "\f122"; }
.flaticon-cancel:before { content: "\f123"; }
.flaticon-calendar-2:before { content: "\f124"; }
.flaticon-warning-sign:before { content: "\f125"; }
.flaticon-more-5:before { content: "\f126"; }
.flaticon-exclamation-2:before { content: "\f127"; }
.flaticon-cogwheel-1:before { content: "\f128"; }
.flaticon-book:before { content: "\f129"; }
.flaticon-squares-4:before { content: "\f12a"; }
.flaticon-clock:before { content: "\f12b"; }
.flaticon-graphic-2:before { content: "\f12c"; }
.flaticon-symbol:before { content: "\f12d"; }
.flaticon-tool-1:before { content: "\f12e"; }
.flaticon-laptop:before { content: "\f12f"; }
.flaticon-event-calendar-symbol:before { content: "\f130"; }
.flaticon-logout:before { content: "\f131"; }
.flaticon-refresh:before { content: "\f132"; }
.flaticon-questions-circular-button:before { content: "\f133"; }
.flaticon-search-magnifier-interface-symbol:before { content: "\f134"; }
.flaticon-search-1:before { content: "\f135"; }
.flaticon-more-4:before { content: "\f136"; }
.flaticon-attachment:before { content: "\f137"; }
.flaticon-speech-bubble-1:before { content: "\f138"; }
.flaticon-open-box:before { content: "\f139"; }
.flaticon-coins:before { content: "\f13a"; }
.flaticon-speech-bubble:before { content: "\f13b"; }
.flaticon-squares-3:before { content: "\f13c"; }
.flaticon-computer:before { content: "\f13d"; }
.flaticon-alert-2:before { content: "\f13e"; }
.flaticon-alert-off:before { content: "\f13f"; }
.flaticon-map:before { content: "\f140"; }
.flaticon-interface-7:before { content: "\f141"; }
.flaticon-graphic-1:before { content: "\f142"; }
.flaticon-cogwheel:before { content: "\f143"; }
.flaticon-alert-1:before { content: "\f144"; }
.flaticon-folder-4:before { content: "\f145"; }
.flaticon-interface-6:before { content: "\f146"; }
.flaticon-interface-5:before { content: "\f147"; }
.flaticon-calendar-1:before { content: "\f148"; }
.flaticon-time-1:before { content: "\f149"; }
.flaticon-signs-2:before { content: "\f14a"; }
.flaticon-calendar:before { content: "\f14b"; }
.flaticon-search:before { content: "\f14c"; }
.flaticon-infinity:before { content: "\f14d"; }
.flaticon-list-1:before { content: "\f14e"; }
.flaticon-bell:before { content: "\f14f"; }
.flaticon-delete:before { content: "\f150"; }
.flaticon-squares-2:before { content: "\f151"; }
.flaticon-clipboard:before { content: "\f152"; }
.flaticon-shapes-1:before { content: "\f153"; }
.flaticon-comment:before { content: "\f154"; }
.flaticon-squares-1:before { content: "\f155"; }
.flaticon-mark:before { content: "\f156"; }
.flaticon-signs-1:before { content: "\f157"; }
.flaticon-squares:before { content: "\f158"; }
.flaticon-business:before { content: "\f159"; }
.flaticon-car:before { content: "\f15a"; }
.flaticon-light:before { content: "\f15b"; }
.flaticon-information:before { content: "\f15c"; }
.flaticon-dashboard:before { content: "\f15d"; }
.flaticon-edit-1:before { content: "\f15e"; }
.flaticon-location:before { content: "\f15f"; }
.flaticon-technology:before { content: "\f160"; }
.flaticon-exclamation-1:before { content: "\f161"; }
.flaticon-tea-cup:before { content: "\f162"; }
.flaticon-notes:before { content: "\f163"; }
.flaticon-analytics:before { content: "\f164"; }
.flaticon-transport:before { content: "\f165"; }
.flaticon-truck:before { content: "\f166"; }
.flaticon-user-settings:before { content: "\f167"; }
.flaticon-user-add:before { content: "\f168"; }
.flaticon-user-ok:before { content: "\f169"; }
.flaticon-internet:before { content: "\f16a"; }
.flaticon-alert:before { content: "\f16b"; }
.flaticon-alarm:before { content: "\f16c"; }
.flaticon-shapes:before { content: "\f16d"; }
.flaticon-up-arrow-1:before { content: "\f16e"; }
.flaticon-more-3:before { content: "\f16f"; }
.flaticon-lock-1:before { content: "\f170"; }
.flaticon-profile:before { content: "\f171"; }
.flaticon-map-location:before { content: "\f172"; }
.flaticon-placeholder-2:before { content: "\f173"; }
.flaticon-route:before { content: "\f174"; }
.flaticon-more-2:before { content: "\f175"; }
.flaticon-lock:before { content: "\f176"; }
.flaticon-multimedia-1:before { content: "\f177"; }
.flaticon-add:before { content: "\f178"; }
.flaticon-more-1:before { content: "\f179"; }
.flaticon-more:before { content: "\f17a"; }
.flaticon-menu:before { content: "\f17b"; }
.flaticon-suitcase:before { content: "\f17c"; }
.flaticon-app:before { content: "\f17d"; }
.flaticon-interface-4:before { content: "\f17e"; }
.flaticon-time:before { content: "\f17f"; }
.flaticon-list:before { content: "\f180"; }
.flaticon-music-2:before { content: "\f181"; }
.flaticon-tool:before { content: "\f182"; }
.flaticon-security:before { content: "\f183"; }
.flaticon-interface-3:before { content: "\f184"; }
.flaticon-interface-2:before { content: "\f185"; }
.flaticon-interface-1:before { content: "\f186"; }
.flaticon-layers:before { content: "\f187"; }
.flaticon-placeholder-1:before { content: "\f188"; }
.flaticon-placeholder:before { content: "\f189"; }
.flaticon-web:before { content: "\f18a"; }
.flaticon-multimedia:before { content: "\f18b"; }
.flaticon-tabs:before { content: "\f18c"; }
.flaticon-signs:before { content: "\f18d"; }
.flaticon-interface:before { content: "\f18e"; }
.flaticon-network:before { content: "\f18f"; }
.flaticon-share:before { content: "\f190"; }
.flaticon-info:before { content: "\f191"; }
.flaticon-exclamation:before { content: "\f192"; }
.flaticon-music-1:before { content: "\f193"; }
.flaticon-medical:before { content: "\f194"; }
.flaticon-imac:before { content: "\f195"; }
.flaticon-cart:before { content: "\f196"; }
.flaticon-download:before { content: "\f197"; }
.flaticon-edit:before { content: "\f198"; }
.flaticon-graphic:before { content: "\f199"; }
.flaticon-browser:before { content: "\f19a"; }
.flaticon-up-arrow:before { content: "\f19b"; }
.flaticon-folder-3:before { content: "\f19c"; }
.flaticon-folder-2:before { content: "\f19d"; }
.flaticon-folder-1:before { content: "\f19e"; }
.flaticon-folder:before { content: "\f19f"; }
.flaticon-music:before { content: "\f1a0"; }
.flaticon-chat:before { content: "\f1a1"; }