/*!
 * Line Awesome 1.1.0 by @icons_8 - https://icons8.com/line-awesome
 * License - https://icons8.com/good-boy-license/ (Font: SIL OFL 1.1, CSS: MIT License)
 *
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
    font-family: "FontAwesome";
    src: url("./fonts/line-awesome/line-awesome.eot?v=1.1.");
    src: url("./fonts/line-awesome/line-awesome.eot??v=1.1.#iefix") format("embedded-opentype"),
    url("./fonts/line-awesome/line-awesome.woff2?v=1.1.") format("woff2"),
    url("./fonts/line-awesome/line-awesome.woff?v=1.1.") format("woff"),
    url("./fonts/line-awesome/line-awesome.ttf?v=1.1.") format("truetype"),
    url("./fonts/line-awesome/line-awesome.svg?v=1.1.#fa") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "FontAwesome";
        src: url("./fonts/line-awesome/line-awesome.svg?v=1.1.#fa") format("svg");
    }
}

/* Thanks to http://fontawesome.io @fontawesome and @davegandy */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 "FontAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.fa-ul > li {
    position: relative;
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

.fa-li.fa-lg {
    left: -1.85714286em;
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}

.fa.pull-right {
    margin-left: .3em;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    filter: none;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #ffffff;
}

/* Thanks to http://fontawesome.io @fontawesome and @davegandy */

.fa-500px:before {
    content: "\f100";
}

.fa-adjust:before {
    content: "\f101";
}

.fa-adn:before {
    content: "\f102";
}

.fa-align-center:before {
    content: "\f103";
}

.fa-align-justify:before {
    content: "\f104";
}

.fa-align-left:before {
    content: "\f105";
}

.fa-align-right:before {
    content: "\f106";
}

.fa-amazon:before {
    content: "\f107";
}

.fa-ambulance:before {
    content: "\f108";
}

.fa-anchor:before {
    content: "\f109";
}

.fa-android:before {
    content: "\f10a";
}

.fa-angellist:before {
    content: "\f10b";
}

.fa-angle-double-down:before {
    content: "\f10c";
}

.fa-angle-double-left:before {
    content: "\f10d";
}

.fa-angle-double-right:before {
    content: "\f10e";
}

.fa-angle-double-up:before {
    content: "\f10f";
}

.fa-angle-down:before {
    content: "\f110";
}

.fa-angle-left:before {
    content: "\f111";
}

.fa-angle-right:before {
    content: "\f112";
}

.fa-angle-up:before {
    content: "\f113";
}

.fa-apple:before {
    content: "\f114";
}

.fa-archive:before {
    content: "\f115";
}

.fa-area-chart:before {
    content: "\f116";
}

.fa-arrow-circle-down:before {
    content: "\f117";
}

.fa-arrow-circle-left:before {
    content: "\f118";
}

.fa-arrow-circle-o-down:before {
    content: "\f119";
}

.fa-arrow-circle-o-left:before {
    content: "\f11a";
}

.fa-arrow-circle-o-right:before {
    content: "\f11b";
}

.fa-arrow-circle-o-up:before {
    content: "\f11c";
}

.fa-arrow-circle-right:before {
    content: "\f11d";
}

.fa-arrow-circle-up:before {
    content: "\f11e";
}

.fa-arrow-down:before {
    content: "\f11f";
}

.fa-arrow-left:before {
    content: "\f120";
}

.fa-arrow-right:before {
    content: "\f121";
}

.fa-arrow-up:before {
    content: "\f122";
}

.fa-arrows:before {
    content: "\f123";
}

.fa-arrows-alt:before {
    content: "\f124";
}

.fa-arrows-h:before {
    content: "\f125";
}

.fa-arrows-v:before {
    content: "\f126";
}

.fa-asterisk:before {
    content: "\f127";
}

.fa-at:before {
    content: "\f128";
}

.fa-automobile:before {
    content: "\f129";
}

.fa-backward:before {
    content: "\f12a";
}

.fa-balance-scale:before {
    content: "\f12b";
}

.fa-ban:before {
    content: "\f12c";
}

.fa-bank:before {
    content: "\f12d";
}

.fa-bar-chart:before {
    content: "\f12e";
}

.fa-bar-chart-o:before {
    content: "\f12f";
}

.fa-barcode:before {
    content: "\f130";
}

.fa-bars:before {
    content: "\f131";
}

.fa-battery-0:before {
    content: "\f132";
}

.fa-battery-1:before {
    content: "\f133";
}

.fa-battery-2:before {
    content: "\f134";
}

.fa-battery-3:before {
    content: "\f135";
}

.fa-battery-4:before {
    content: "\f136";
}

.fa-battery-empty:before {
    content: "\f137";
}

.fa-battery-full:before {
    content: "\f138";
}

.fa-battery-half:before {
    content: "\f139";
}

.fa-battery-quarter:before {
    content: "\f13a";
}

.fa-battery-three-quarters:before {
    content: "\f13b";
}

.fa-bed:before {
    content: "\f13c";
}

.fa-beer:before {
    content: "\f13d";
}

.fa-behance:before {
    content: "\f13e";
}

.fa-behance-square:before {
    content: "\f13f";
}

.fa-bell:before {
    content: "\f140";
}

.fa-bell-o:before {
    content: "\f141";
}

.fa-bell-slash:before {
    content: "\f142";
}

.fa-bell-slash-o:before {
    content: "\f143";
}

.fa-bicycle:before {
    content: "\f144";
}

.fa-binoculars:before {
    content: "\f145";
}

.fa-birthday-cake:before {
    content: "\f146";
}

.fa-bitbucket:before {
    content: "\f147";
}

.fa-bitbucket-square:before {
    content: "\f148";
}

.fa-bitcoin:before {
    content: "\f149";
}

.fa-black-tie:before {
    content: "\f14a";
}

.fa-bold:before {
    content: "\f14b";
}

.fa-bolt:before {
    content: "\f14c";
}

.fa-bomb:before {
    content: "\f14d";
}

.fa-book:before {
    content: "\f14e";
}

.fa-bookmark:before {
    content: "\f14f";
}

.fa-bookmark-o:before {
    content: "\f150";
}

.fa-briefcase:before {
    content: "\f151";
}

.fa-btc:before {
    content: "\f152";
}

.fa-bug:before {
    content: "\f153";
}

.fa-building:before {
    content: "\f154";
}

.fa-building-o:before {
    content: "\f155";
}

.fa-bullhorn:before {
    content: "\f156";
}

.fa-bullseye:before {
    content: "\f157";
}

.fa-bus:before {
    content: "\f158";
}

.fa-buysellads:before {
    content: "\f159";
}

.fa-cab:before {
    content: "\f15a";
}

.fa-calculator:before {
    content: "\f15b";
}

.fa-calendar:before {
    content: "\f15c";
}

.fa-calendar-check-o:before {
    content: "\f15d";
}

.fa-calendar-minus-o:before {
    content: "\f15e";
}

.fa-calendar-o:before {
    content: "\f15f";
}

.fa-calendar-plus-o:before {
    content: "\f160";
}

.fa-calendar-times-o:before {
    content: "\f161";
}

.fa-camera:before {
    content: "\f162";
}

.fa-camera-retro:before {
    content: "\f163";
}

.fa-car:before {
    content: "\f164";
}

.fa-caret-down:before {
    content: "\f165";
}

.fa-caret-left:before {
    content: "\f166";
}

.fa-caret-right:before {
    content: "\f167";
}

.fa-caret-square-o-down:before, .fa-toggle-down:before {
    content: "\f168";
}

.fa-caret-square-o-left:before, .fa-toggle-left:before {
    content: "\f169";
}

.fa-caret-square-o-right:before, .fa-toggle-right:before {
    content: "\f16a";
}

.fa-caret-square-o-up:before, .fa-toggle-up:before {
    content: "\f16b";
}

.fa-caret-up:before {
    content: "\f16c";
}

.fa-cart-arrow-down:before {
    content: "\f16d";
}

.fa-cart-plus:before {
    content: "\f16e";
}

.fa-cc:before {
    content: "\f16f";
}

.fa-cc-amex:before {
    content: "\f170";
}

.fa-cc-diners-club:before {
    content: "\f171";
}

.fa-cc-discover:before {
    content: "\f172";
}

.fa-cc-jcb:before {
    content: "\f173";
}

.fa-cc-mastercard:before {
    content: "\f174";
}

.fa-cc-paypal:before {
    content: "\f175";
}

.fa-cc-stripe:before {
    content: "\f176";
}

.fa-cc-visa:before {
    content: "\f177";
}

.fa-certificate:before {
    content: "\f178";
}

.fa-chain:before {
    content: "\f179";
}

.fa-chain-broken:before {
    content: "\f17a";
}

.fa-check:before {
    content: "\f17b";
}

.fa-check-circle:before {
    content: "\f17c";
}

.fa-check-circle-o:before {
    content: "\f17d";
}

.fa-check-square:before {
    content: "\f17e";
}

.fa-check-square-o:before {
    content: "\f17f";
}

.fa-chevron-circle-down:before {
    content: "\f180";
}

.fa-chevron-circle-left:before {
    content: "\f181";
}

.fa-chevron-circle-right:before {
    content: "\f182";
}

.fa-chevron-circle-up:before {
    content: "\f183";
}

.fa-chevron-down:before {
    content: "\f184";
}

.fa-chevron-left:before {
    content: "\f185";
}

.fa-chevron-right:before {
    content: "\f186";
}

.fa-chevron-up:before {
    content: "\f187";
}

.fa-child:before {
    content: "\f188";
}

.fa-chrome:before {
    content: "\f189";
}

.fa-circle:before {
    content: "\f18a";
}

.fa-circle-o:before {
    content: "\f18b";
}

.fa-circle-o-notch:before {
    content: "\f18c";
}

.fa-circle-thin:before {
    content: "\f18d";
}

.fa-clipboard:before {
    content: "\f18e";
}

.fa-clock-o:before {
    content: "\f18f";
}

.fa-clone:before {
    content: "\f190";
}

.fa-close:before {
    content: "\f191";
}

.fa-cloud:before {
    content: "\f192";
}

.fa-cloud-download:before {
    content: "\f193";
}

.fa-cloud-upload:before {
    content: "\f194";
}

.fa-cny:before {
    content: "\f195";
}

.fa-code:before {
    content: "\f196";
}

.fa-code-fork:before {
    content: "\f197";
}

.fa-codepen:before {
    content: "\f198";
}

.fa-coffee:before {
    content: "\f199";
}

.fa-cog:before {
    content: "\f19a";
}

.fa-cogs:before {
    content: "\f19b";
}

.fa-columns:before {
    content: "\f19c";
}

.fa-comment:before {
    content: "\f19d";
}

.fa-comment-o:before {
    content: "\f19e";
}

.fa-commenting:before {
    content: "\f19f";
}

.fa-commenting-o:before {
    content: "\f1a0";
}

.fa-comments:before {
    content: "\f1a1";
}

.fa-comments-o:before {
    content: "\f1a2";
}

.fa-compass:before {
    content: "\f1a3";
}

.fa-compress:before {
    content: "\f1a4";
}

.fa-connectdevelop:before {
    content: "\f1a5";
}

.fa-contao:before {
    content: "\f1a6";
}

.fa-copy:before {
    content: "\f1a7";
}

.fa-copyright:before {
    content: "\f1a8";
}

.fa-creative-commons:before {
    content: "\f1a9";
}

.fa-credit-card:before {
    content: "\f1aa";
}

.fa-crop:before {
    content: "\f1ab";
}

.fa-crosshairs:before {
    content: "\f1ac";
}

.fa-css3:before {
    content: "\f1ad";
}

.fa-cube:before {
    content: "\f1ae";
}

.fa-cubes:before {
    content: "\f1af";
}

.fa-cut:before {
    content: "\f1b0";
}

.fa-cutlery:before {
    content: "\f1b1";
}

.fa-dashboard:before {
    content: "\f1b2";
}

.fa-dashcube:before {
    content: "\f1b3";
}

.fa-database:before {
    content: "\f1b4";
}

.fa-dedent:before {
    content: "\f1b5";
}

.fa-delicious:before {
    content: "\f1b6";
}

.fa-desktop:before {
    content: "\f1b7";
}

.fa-deviantart:before {
    content: "\f1b8";
}

.fa-diamond:before {
    content: "\f1b9";
}

.fa-digg:before {
    content: "\f1ba";
}

.fa-dollar:before {
    content: "\f1bb";
}

.fa-dot-circle-o:before {
    content: "\f1bc";
}

.fa-download:before {
    content: "\f1bd";
}

.fa-dribbble:before {
    content: "\f1be";
}

.fa-dropbox:before {
    content: "\f1bf";
}

.fa-drupal:before {
    content: "\f1c0";
}

.fa-edit:before {
    content: "\f1c1";
}

.fa-eject:before {
    content: "\f1c2";
}

.fa-ellipsis-h:before {
    content: "\f1c3";
}

.fa-ellipsis-v:before {
    content: "\f1c4";
}

.fa-empire:before, .fa-ge:before {
    content: "\f1c5";
}

.fa-envelope:before {
    content: "\f1c6";
}

.fa-envelope-o:before {
    content: "\f1c7";
}

.fa-envelope-square:before {
    content: "\f1c8";
}

.fa-eraser:before {
    content: "\f1c9";
}

.fa-eur:before {
    content: "\f1ca";
}

.fa-euro:before {
    content: "\f1cb";
}

.fa-exchange:before {
    content: "\f1cc";
}

.fa-exclamation:before {
    content: "\f1cd";
}

.fa-exclamation-circle:before {
    content: "\f1ce";
}

.fa-exclamation-triangle:before {
    content: "\f1cf";
}

.fa-expand:before {
    content: "\f1d0";
}

.fa-expeditedssl:before {
    content: "\f1d1";
}

.fa-external-link:before {
    content: "\f1d2";
}

.fa-external-link-square:before {
    content: "\f1d3";
}

.fa-eye:before {
    content: "\f1d4";
}

.fa-eye-slash:before {
    content: "\f1d5";
}

.fa-eyedropper:before {
    content: "\f1d6";
}

.fa-facebook:before, .fa-facebook-f:before {
    content: "\f1d7";
}

.fa-facebook-official:before {
    content: "\f1d8";
}

.fa-facebook-square:before {
    content: "\f1d9";
}

.fa-fast-backward:before {
    content: "\f1da";
}

.fa-fast-forward:before {
    content: "\f1db";
}

.fa-fax:before {
    content: "\f1dc";
}

.fa-female:before {
    content: "\f1dd";
}

.fa-fighter-jet:before {
    content: "\f1de";
}

.fa-file:before {
    content: "\f1df";
}

.fa-file-archive-o:before {
    content: "\f1e0";
}

.fa-file-audio-o:before {
    content: "\f1e1";
}

.fa-file-code-o:before {
    content: "\f1e2";
}

.fa-file-excel-o:before {
    content: "\f1e3";
}

.fa-file-image-o:before {
    content: "\f1e4";
}

.fa-file-movie-o:before {
    content: "\f1e5";
}

.fa-file-o:before {
    content: "\f1e6";
}

.fa-file-pdf-o:before {
    content: "\f1e7";
}

.fa-file-photo-o:before {
    content: "\f1e8";
}

.fa-file-picture-o:before {
    content: "\f1e9";
}

.fa-file-powerpoint-o:before {
    content: "\f1ea";
}

.fa-file-sound-o:before {
    content: "\f1eb";
}

.fa-file-text:before {
    content: "\f1ec";
}

.fa-file-text-o:before {
    content: "\f1ed";
}

.fa-file-video-o:before {
    content: "\f1ee";
}

.fa-file-word-o:before {
    content: "\f1ef";
}

.fa-file-zip-o:before {
    content: "\f1f0";
}

.fa-files-o:before {
    content: "\f1f1";
}

.fa-film:before {
    content: "\f1f2";
}

.fa-filter:before {
    content: "\f1f3";
}

.fa-fire:before {
    content: "\f1f4";
}

.fa-fire-extinguisher:before {
    content: "\f1f5";
}

.fa-firefox:before {
    content: "\f1f6";
}

.fa-flag:before {
    content: "\f1f7";
}

.fa-flag-checkered:before {
    content: "\f1f8";
}

.fa-flag-o:before {
    content: "\f1f9";
}

.fa-flash:before {
    content: "\f1fa";
}

.fa-flask:before {
    content: "\f1fb";
}

.fa-flickr:before {
    content: "\f1fc";
}

.fa-floppy-o:before {
    content: "\f1fd";
}

.fa-folder:before {
    content: "\f1fe";
}

.fa-folder-o:before {
    content: "\f1ff";
}

.fa-folder-open:before {
    content: "\f200";
}

.fa-folder-open-o:before {
    content: "\f201";
}

.fa-font:before {
    content: "\f202";
}

.fa-fonticons:before {
    content: "\f203";
}

.fa-forumbee:before {
    content: "\f204";
}

.fa-forward:before {
    content: "\f205";
}

.fa-foursquare:before {
    content: "\f206";
}

.fa-frown-o:before {
    content: "\f207";
}

.fa-futbol-o:before, .fa-soccer-ball-o:before {
    content: "\f208";
}

.fa-gamepad:before {
    content: "\f209";
}

.fa-gavel:before {
    content: "\f20a";
}

.fa-gbp:before {
    content: "\f20b";
}

.fa-gear:before {
    content: "\f20c";
}

.fa-gears:before {
    content: "\f20d";
}

.fa-genderless:before {
    content: "\f20e";
}

.fa-get-pocket:before {
    content: "\f20f";
}

.fa-gg:before {
    content: "\f210";
}

.fa-gg-circle:before {
    content: "\f211";
}

.fa-gift:before {
    content: "\f212";
}

.fa-git:before {
    content: "\f213";
}

.fa-git-square:before {
    content: "\f214";
}

.fa-github:before {
    content: "\f215";
}

.fa-github-alt:before {
    content: "\f216";
}

.fa-github-square:before {
    content: "\f217";
}

.fa-glass:before {
    content: "\f218";
}

.fa-globe:before {
    content: "\f219";
}

.fa-google:before {
    content: "\f21a";
}

.fa-google-plus:before {
    content: "\f21b";
}

.fa-google-plus-square:before {
    content: "\f21c";
}

.fa-google-wallet:before {
    content: "\f21d";
}

.fa-graduation-cap:before {
    content: "\f21e";
}

.fa-gratipay:before, .fa-gittip:before {
    content: "\f21f";
}

.fa-group:before {
    content: "\f220";
}

.fa-h-square:before {
    content: "\f221";
}

.fa-hacker-news:before {
    content: "\f222";
}

.fa-hand-grab-o:before {
    content: "\f223";
}

.fa-hand-lizard-o:before {
    content: "\f224";
}

.fa-hand-o-down:before {
    content: "\f225";
}

.fa-hand-o-left:before {
    content: "\f226";
}

.fa-hand-o-right:before {
    content: "\f227";
}

.fa-hand-o-up:before {
    content: "\f228";
}

.fa-hand-paper-o:before {
    content: "\f229";
}

.fa-hand-peace-o:before {
    content: "\f22a";
}

.fa-hand-pointer-o:before {
    content: "\f22b";
}

.fa-hand-rock-o:before {
    content: "\f22c";
}

.fa-hand-scissors-o:before {
    content: "\f22d";
}

.fa-hand-spock-o:before {
    content: "\f22e";
}

.fa-hand-stop-o:before {
    content: "\f22f";
}

.fa-hdd-o:before {
    content: "\f230";
}

.fa-header:before {
    content: "\f231";
}

.fa-headphones:before {
    content: "\f232";
}

.fa-heart:before {
    content: "\f233";
}

.fa-heart-o:before {
    content: "\f234";
}

.fa-heartbeat:before {
    content: "\f235";
}

.fa-history:before {
    content: "\f236";
}

.fa-home:before {
    content: "\f237";
}

.fa-hospital-o:before {
    content: "\f238";
}

.fa-hotel:before {
    content: "\f239";
}

.fa-hourglass:before {
    content: "\f23a";
}

.fa-hourglass-1:before {
    content: "\f23b";
}

.fa-hourglass-2:before {
    content: "\f23c";
}

.fa-hourglass-3:before {
    content: "\f23d";
}

.fa-hourglass-end:before {
    content: "\f23e";
}

.fa-hourglass-half:before {
    content: "\f23f";
}

.fa-hourglass-o:before {
    content: "\f240";
}

.fa-hourglass-start:before {
    content: "\f241";
}

.fa-houzz:before {
    content: "\f242";
}

.fa-html5:before {
    content: "\f243";
}

.fa-i-cursor:before {
    content: "\f244";
}

.fa-ils:before {
    content: "\f245";
}

.fa-image:before {
    content: "\f246";
}

.fa-inbox:before {
    content: "\f247";
}

.fa-indent:before {
    content: "\f248";
}

.fa-industry:before {
    content: "\f249";
}

.fa-info:before {
    content: "\f24a";
}

.fa-info-circle:before {
    content: "\f24b";
}

.fa-inr:before {
    content: "\f24c";
}

.fa-instagram:before {
    content: "\f24d";
}

.fa-institution:before {
    content: "\f24e";
}

.fa-internet-explorer:before {
    content: "\f24f";
}

.fa-ioxhost:before {
    content: "\f250";
}

.fa-italic:before {
    content: "\f251";
}

.fa-joomla:before {
    content: "\f252";
}

.fa-jpy:before {
    content: "\f253";
}

.fa-jsfiddle:before {
    content: "\f254";
}

.fa-key:before {
    content: "\f255";
}

.fa-keyboard-o:before {
    content: "\f256";
}

.fa-krw:before {
    content: "\f257";
}

.fa-language:before {
    content: "\f258";
}

.fa-laptop:before {
    content: "\f259";
}

.fa-lastfm:before {
    content: "\f25a";
}

.fa-lastfm-square:before {
    content: "\f25b";
}

.fa-leaf:before {
    content: "\f25c";
}

.fa-leanpub:before {
    content: "\f25d";
}

.fa-legal:before {
    content: "\f25e";
}

.fa-lemon-o:before {
    content: "\f25f";
}

.fa-level-down:before {
    content: "\f260";
}

.fa-level-up:before {
    content: "\f261";
}

.fa-life-bouy:before {
    content: "\f262";
}

.fa-life-buoy:before {
    content: "\f263";
}

.fa-life-ring:before, .fa-support:before {
    content: "\f264";
}

.fa-life-saver:before {
    content: "\f265";
}

.fa-lightbulb-o:before {
    content: "\f266";
}

.fa-line-chart:before {
    content: "\f267";
}

.fa-link:before {
    content: "\f268";
}

.fa-linkedin:before {
    content: "\f269";
}

.fa-linkedin-square:before {
    content: "\f26a";
}

.fa-linux:before {
    content: "\f26b";
}

.fa-list:before {
    content: "\f26c";
}

.fa-list-alt:before {
    content: "\f26d";
}

.fa-list-ol:before {
    content: "\f26e";
}

.fa-list-ul:before {
    content: "\f26f";
}

.fa-location-arrow:before {
    content: "\f270";
}

.fa-lock:before {
    content: "\f271";
}

.fa-long-arrow-down:before {
    content: "\f272";
}

.fa-long-arrow-left:before {
    content: "\f273";
}

.fa-long-arrow-right:before {
    content: "\f274";
}

.fa-long-arrow-up:before {
    content: "\f275";
}

.fa-magic:before {
    content: "\f276";
}

.fa-magnet:before {
    content: "\f277";
}

.fa-mail-forward:before {
    content: "\f278";
}

.fa-mail-reply:before {
    content: "\f279";
}

.fa-mail-reply-all:before {
    content: "\f27a";
}

.fa-male:before {
    content: "\f27b";
}

.fa-map:before {
    content: "\f27c";
}

.fa-map-marker:before {
    content: "\f27d";
}

.fa-map-o:before {
    content: "\f27e";
}

.fa-map-pin:before {
    content: "\f27f";
}

.fa-map-signs:before {
    content: "\f280";
}

.fa-mars:before {
    content: "\f281";
}

.fa-mars-double:before {
    content: "\f282";
}

.fa-mars-stroke:before {
    content: "\f283";
}

.fa-mars-stroke-h:before {
    content: "\f284";
}

.fa-mars-stroke-v:before {
    content: "\f285";
}

.fa-maxcdn:before {
    content: "\f286";
}

.fa-meanpath:before {
    content: "\f287";
}

.fa-medium:before {
    content: "\f288";
}

.fa-medkit:before {
    content: "\f289";
}

.fa-meh-o:before {
    content: "\f28a";
}

.fa-mercury:before {
    content: "\f28b";
}

.fa-microphone:before {
    content: "\f28c";
}

.fa-microphone-slash:before {
    content: "\f28d";
}

.fa-minus:before {
    content: "\f28e";
}

.fa-minus-circle:before {
    content: "\f28f";
}

.fa-minus-square:before {
    content: "\f290";
}

.fa-minus-square-o:before {
    content: "\f291";
}

.fa-mobile:before {
    content: "\f292";
}

.fa-mobile-phone:before {
    content: "\f293";
}

.fa-money:before {
    content: "\f294";
}

.fa-moon-o:before {
    content: "\f295";
}

.fa-mortar-board:before {
    content: "\f296";
}

.fa-motorcycle:before {
    content: "\f297";
}

.fa-mouse-pointer:before {
    content: "\f298";
}

.fa-music:before {
    content: "\f299";
}

.fa-navicon:before {
    content: "\f29a";
}

.fa-neuter:before {
    content: "\f29b";
}

.fa-newspaper-o:before {
    content: "\f29c";
}

.fa-object-group:before {
    content: "\f29d";
}

.fa-object-ungroup:before {
    content: "\f29e";
}

.fa-odnoklassniki:before {
    content: "\f29f";
}

.fa-odnoklassniki-square:before {
    content: "\f2a0";
}

.fa-opencart:before {
    content: "\f2a1";
}

.fa-openid:before {
    content: "\f2a2";
}

.fa-opera:before {
    content: "\f2a3";
}

.fa-optin-monster:before {
    content: "\f2a4";
}

.fa-outdent:before {
    content: "\f2a5";
}

.fa-pagelines:before {
    content: "\f2a6";
}

.fa-paint-brush:before {
    content: "\f2a7";
}

.fa-paper-plane:before, .fa-send:before {
    content: "\f2a8";
}

.fa-paper-plane-o:before, .fa-send-o:before {
    content: "\f2a9";
}

.fa-paperclip:before {
    content: "\f2aa";
}

.fa-paragraph:before {
    content: "\f2ab";
}

.fa-paste:before {
    content: "\f2ac";
}

.fa-pause:before {
    content: "\f2ad";
}

.fa-paw:before {
    content: "\f2ae";
}

.fa-paypal:before {
    content: "\f2af";
}

.fa-pencil:before {
    content: "\f2b0";
}

.fa-pencil-square:before {
    content: "\f2b1";
}

.fa-pencil-square-o:before {
    content: "\f2b2";
}

.fa-phone:before {
    content: "\f2b3";
}

.fa-phone-square:before {
    content: "\f2b4";
}

.fa-photo:before {
    content: "\f2b5";
}

.fa-picture-o:before {
    content: "\f2b6";
}

.fa-pie-chart:before {
    content: "\f2b7";
}

.fa-pied-piper:before {
    content: "\f2b8";
}

.fa-pied-piper-alt:before {
    content: "\f2b9";
}

.fa-pinterest:before {
    content: "\f2ba";
}

.fa-pinterest-p:before {
    content: "\f2bb";
}

.fa-pinterest-square:before {
    content: "\f2bc";
}

.fa-plane:before {
    content: "\f2bd";
}

.fa-play:before {
    content: "\f2be";
}

.fa-play-circle:before {
    content: "\f2bf";
}

.fa-play-circle-o:before {
    content: "\f2c0";
}

.fa-plug:before {
    content: "\f2c1";
}

.fa-plus:before {
    content: "\f2c2";
}

.fa-plus-circle:before {
    content: "\f2c3";
}

.fa-plus-square:before {
    content: "\f2c4";
}

.fa-plus-square-o:before {
    content: "\f2c5";
}

.fa-power-off:before {
    content: "\f2c6";
}

.fa-print:before {
    content: "\f2c7";
}

.fa-puzzle-piece:before {
    content: "\f2c8";
}

.fa-qq:before {
    content: "\f2c9";
}

.fa-qrcode:before {
    content: "\f2ca";
}

.fa-question:before {
    content: "\f2cb";
}

.fa-question-circle:before {
    content: "\f2cc";
}

.fa-quote-left:before {
    content: "\f2cd";
}

.fa-quote-right:before {
    content: "\f2ce";
}

.fa-ra:before {
    content: "\f2cf";
}

.fa-random:before {
    content: "\f2d0";
}

.fa-rebel:before {
    content: "\f2d1";
}

.fa-recycle:before {
    content: "\f2d2";
}

.fa-reddit:before {
    content: "\f2d3";
}

.fa-reddit-square:before {
    content: "\f2d4";
}

.fa-refresh:before {
    content: "\f2d5";
}

.fa-registered:before {
    content: "\f2d6";
}

.fa-renren:before {
    content: "\f2d7";
}

.fa-reorder:before {
    content: "\f2d8";
}

.fa-repeat:before {
    content: "\f2d9";
}

.fa-reply:before {
    content: "\f2da";
}

.fa-reply-all:before {
    content: "\f2db";
}

.fa-retweet:before {
    content: "\f2dc";
}

.fa-rmb:before {
    content: "\f2dd";
}

.fa-road:before {
    content: "\f2de";
}

.fa-rocket:before {
    content: "\f2df";
}

.fa-rotate-left:before {
    content: "\f2e0";
}

.fa-rotate-right:before {
    content: "\f2e1";
}

.fa-rouble:before {
    content: "\f2e2";
}

.fa-rss:before, .fa-feed:before {
    content: "\f2e3";
}

.fa-rss-square:before {
    content: "\f2e4";
}

.fa-rub:before {
    content: "\f2e5";
}

.fa-ruble:before {
    content: "\f2e6";
}

.fa-rupee:before {
    content: "\f2e7";
}

.fa-safari:before {
    content: "\f2e8";
}

.fa-save:before {
    content: "\f2e9";
}

.fa-scissors:before {
    content: "\f2ea";
}

.fa-search:before {
    content: "\f2eb";
}

.fa-search-minus:before {
    content: "\f2ec";
}

.fa-search-plus:before {
    content: "\f2ed";
}

.fa-sellsy:before {
    content: "\f2ee";
}

.fa-server:before {
    content: "\f2ef";
}

.fa-share:before {
    content: "\f2f0";
}

.fa-share-alt:before {
    content: "\f2f1";
}

.fa-share-alt-square:before {
    content: "\f2f2";
}

.fa-share-square:before {
    content: "\f2f3";
}

.fa-share-square-o:before {
    content: "\f2f4";
}

.fa-shekel:before {
    content: "\f2f5";
}

.fa-sheqel:before {
    content: "\f2f6";
}

.fa-shield:before {
    content: "\f2f7";
}

.fa-ship:before {
    content: "\f2f8";
}

.fa-shirtsinbulk:before {
    content: "\f2f9";
}

.fa-shopping-cart:before {
    content: "\f2fa";
}

.fa-sign-in:before {
    content: "\f2fb";
}

.fa-sign-out:before {
    content: "\f2fc";
}

.fa-signal:before {
    content: "\f2fd";
}

.fa-simplybuilt:before {
    content: "\f2fe";
}

.fa-sitemap:before {
    content: "\f2ff";
}

.fa-skyatlas:before {
    content: "\f300";
}

.fa-skype:before {
    content: "\f301";
}

.fa-slack:before {
    content: "\f302";
}

.fa-sliders:before {
    content: "\f303";
}

.fa-slideshare:before {
    content: "\f304";
}

.fa-smile-o:before {
    content: "\f305";
}

.fa-sort:before, .fa-unsorted:before {
    content: "\f306";
}

.fa-sort-alpha-asc:before {
    content: "\f307";
}

.fa-sort-alpha-desc:before {
    content: "\f308";
}

.fa-sort-amount-asc:before {
    content: "\f309";
}

.fa-sort-amount-desc:before {
    content: "\f30a";
}

.fa-sort-asc:before, .fa-sort-up:before {
    content: "\f30b";
}

.fa-sort-desc:before, .fa-sort-down:before {
    content: "\f30c";
}

.fa-sort-numeric-asc:before {
    content: "\f30d";
}

.fa-sort-numeric-desc:before {
    content: "\f30e";
}

.fa-soundcloud:before {
    content: "\f30f";
}

.fa-space-shuttle:before {
    content: "\f310";
}

.fa-spinner:before {
    content: "\f311";
}

.fa-spoon:before {
    content: "\f312";
}

.fa-spotify:before {
    content: "\f313";
}

.fa-square:before {
    content: "\f314";
}

.fa-square-o:before {
    content: "\f315";
}

.fa-stack-exchange:before {
    content: "\f316";
}

.fa-stack-overflow:before {
    content: "\f317";
}

.fa-star:before {
    content: "\f318";
}

.fa-star-half:before {
    content: "\f319";
}

.fa-star-half-o:before, .fa-star-half-full:before, .fa-star-half-empty:before {
    content: "\f31a";
}

.fa-star-o:before {
    content: "\f31b";
}

.fa-steam:before {
    content: "\f31c";
}

.fa-steam-square:before {
    content: "\f31d";
}

.fa-step-backward:before {
    content: "\f31e";
}

.fa-step-forward:before {
    content: "\f31f";
}

.fa-stethoscope:before {
    content: "\f320";
}

.fa-sticky-note:before {
    content: "\f321";
}

.fa-sticky-note-o:before {
    content: "\f322";
}

.fa-stop:before {
    content: "\f323";
}

.fa-street-view:before {
    content: "\f324";
}

.fa-strikethrough:before {
    content: "\f325";
}

.fa-stumbleupon:before {
    content: "\f326";
}

.fa-stumbleupon-circle:before {
    content: "\f327";
}

.fa-subscript:before {
    content: "\f328";
}

.fa-subway:before {
    content: "\f329";
}

.fa-suitcase:before {
    content: "\f32a";
}

.fa-sun-o:before {
    content: "\f32b";
}

.fa-superscript:before {
    content: "\f32c";
}

.fa-table:before {
    content: "\f32d";
}

.fa-tablet:before {
    content: "\f32e";
}

.fa-tachometer:before {
    content: "\f32f";
}

.fa-tag:before {
    content: "\f330";
}

.fa-tags:before {
    content: "\f331";
}

.fa-tasks:before {
    content: "\f332";
}

.fa-taxi:before {
    content: "\f333";
}

.fa-television:before, .fa-tv:before {
    content: "\f334";
}

.fa-tencent-weibo:before {
    content: "\f335";
}

.fa-terminal:before {
    content: "\f336";
}

.fa-text-height:before {
    content: "\f337";
}

.fa-text-width:before {
    content: "\f338";
}

.fa-th:before {
    content: "\f339";
}

.fa-th-large:before {
    content: "\f33a";
}

.fa-th-list:before {
    content: "\f33b";
}

.fa-thumb-tack:before {
    content: "\f33c";
}

.fa-thumbs-down:before {
    content: "\f33d";
}

.fa-thumbs-o-down:before {
    content: "\f33e";
}

.fa-thumbs-o-up:before {
    content: "\f33f";
}

.fa-thumbs-up:before {
    content: "\f340";
}

.fa-ticket:before {
    content: "\f341";
}

.fa-times:before, .fa-remove:before {
    content: "\f342";
}

.fa-times-circle:before {
    content: "\f343";
}

.fa-times-circle-o:before {
    content: "\f344";
}

.fa-tint:before {
    content: "\f345";
}

.fa-toggle-off:before {
    content: "\f346";
}

.fa-toggle-on:before {
    content: "\f347";
}

.fa-trademark:before {
    content: "\f348";
}

.fa-train:before {
    content: "\f349";
}

.fa-transgender:before, .fa-intersex:before {
    content: "\f34a";
}

.fa-transgender-alt:before {
    content: "\f34b";
}

.fa-trash:before {
    content: "\f34c";
}

.fa-trash-o:before {
    content: "\f34d";
}

.fa-tree:before {
    content: "\f34e";
}

.fa-trello:before {
    content: "\f34f";
}

.fa-tripadvisor:before {
    content: "\f350";
}

.fa-trophy:before {
    content: "\f351";
}

.fa-truck:before {
    content: "\f352";
}

.fa-try:before {
    content: "\f353";
}

.fa-tty:before {
    content: "\f354";
}

.fa-tumblr:before {
    content: "\f355";
}

.fa-tumblr-square:before {
    content: "\f356";
}

.fa-turkish-lira:before {
    content: "\f357";
}

.fa-twitch:before {
    content: "\f358";
}

.fa-twitter:before {
    content: "\f359";
}

.fa-twitter-square:before {
    content: "\f35a";
}

.fa-umbrella:before {
    content: "\f35b";
}

.fa-underline:before {
    content: "\f35c";
}

.fa-undo:before {
    content: "\f35d";
}

.fa-university:before {
    content: "\f35e";
}

.fa-unlink:before {
    content: "\f35f";
}

.fa-unlock:before {
    content: "\f360";
}

.fa-unlock-alt:before {
    content: "\f361";
}

.fa-upload:before {
    content: "\f362";
}

.fa-usd:before {
    content: "\f363";
}

.fa-user:before {
    content: "\f364";
}

.fa-user-md:before {
    content: "\f365";
}

.fa-user-plus:before {
    content: "\f366";
}

.fa-user-secret:before {
    content: "\f367";
}

.fa-user-times:before {
    content: "\f368";
}

.fa-users:before {
    content: "\f369";
}

.fa-venus:before {
    content: "\f36a";
}

.fa-venus-double:before {
    content: "\f36b";
}

.fa-venus-mars:before {
    content: "\f36c";
}

.fa-viacoin:before {
    content: "\f36d";
}

.fa-video-camera:before {
    content: "\f36e";
}

.fa-vimeo:before {
    content: "\f36f";
}

.fa-vimeo-square:before {
    content: "\f370";
}

.fa-vine:before {
    content: "\f371";
}

.fa-vk:before {
    content: "\f372";
}

.fa-volume-down:before {
    content: "\f373";
}

.fa-volume-off:before {
    content: "\f374";
}

.fa-volume-up:before {
    content: "\f375";
}

.fa-warning:before {
    content: "\f376";
}

.fa-wechat:before {
    content: "\f377";
}

.fa-weibo:before {
    content: "\f378";
}

.fa-weixin:before {
    content: "\f379";
}

.fa-whatsapp:before {
    content: "\f37a";
}

.fa-wheelchair:before {
    content: "\f37b";
}

.fa-wifi:before {
    content: "\f37c";
}

.fa-wikipedia-w:before {
    content: "\f37d";
}

.fa-windows:before {
    content: "\f37e";
}

.fa-won:before {
    content: "\f37f";
}

.fa-wordpress:before {
    content: "\f380";
}

.fa-wrench:before {
    content: "\f381";
}

.fa-xing:before {
    content: "\f382";
}

.fa-xing-square:before {
    content: "\f383";
}

.fa-y-combinator:before {
    content: "\f384";
}

.fa-y-combinator-square:before {
    content: "\f385";
}

.fa-yahoo:before {
    content: "\f386";
}

.fa-yc:before {
    content: "\f387";
}

.fa-yc-square:before {
    content: "\f388";
}

.fa-yelp:before {
    content: "\f389";
}

.fa-yen:before {
    content: "\f38a";
}

.fa-youtube:before {
    content: "\f38b";
}

.fa-youtube-play:before {
    content: "\f38c";
}

.fa-youtube-square:before {
    content: "\f38d";
}