<template>
    <div class="prod-images">
        <div class="row">
            <div class="col-sm-4 prod-image-col" v-for="(img, index) in images" :key="index" v-if="img">
                <div class="tools">
                    <a href="#" :disabled="true"><i class="fa fa-arrow-left"></i></a>
                    <a href="#" @click.prevent="removeImage(img)"><i class="fa fa-trash"></i></a>
                    <a href="#" :disabled="true"><i class="fa fa-arrow-right"></i></a>
                </div>
                <img v-if="img.thumbnail" :src="img.thumbnail" class="img-responsive prod-image" alt="Cinque Terre">
                <img v-else :src="img.url" class="img-responsive prod-image" alt="Cinque Terre">
                <input type="text" :name="name" :value="img.id" hidden>
            </div>
        </div>
        <template v-if="openWidget">
            <image-upload-widget
                :on-close="onClose" :max-files="only_one ? 1:30"
            ></image-upload-widget>
        </template>
        <button class="btn btn-sm" type="button" @click="openWidget = true"><i class="fa fa-plus fa-fw"></i>Upload
        </button>
    </div>
</template>

<script>
    import ImageUploadWidget from './UploadImageWidget'

    export default {
        props: {
            preview: {
                default: false
            },
            thumbs: null,
            name: {
                default: 'images[]',
                type: String
            },
            only_one: false,
        },
        components: {
            ImageUploadWidget,
        },
        data() {
            return {
                openWidget: false,
                images: [],
            }
        },
        mounted() {
            if (!this.only_one && this.preview) {
                this.images = uploaded_image;
            }

            if (this.only_one && this.preview && cover_image) {
                this.images.push(cover_image);
            }

            this.thumbs ?
                this.images.push(JSON.parse(this.thumbs)) : null;
        },
        methods: {
            removeImage(image) {
                var vm = this;
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: !0,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: !0
                }).then(function (ans) {
                    if (!ans) {
                        return;
                    }
                    axios.post(file_delete_url + '/' + image.id).then(res => {
                        vm.images.splice(vm.images.indexOf(image), 1);
                    }).catch(err => {
                        console.log(err);
                    });
                });
            },
            onClose(files) {
                this.openWidget = false
                if (!files) {
                    return;
                }
                if (this.only_one && this.images.length) {
                    return toastr.warning("Allow only one!");
                }
                for (var id in files) {
                    this.images.push({
                        url: files[id].dataUrl,
                        id: files[id].id,
                    });
                }
            }
        },
        watch: {}
    }
</script>
<style>
    .prod-images {
        background: #eee;
        padding: 10px;
    }

    .prod-image {
        background: #fff;
        height: 150px;
        margin: 0 auto 16px;
        max-width: 100%;
    }

    .prod-image-col {
        text-align: center;
    }

    .prod-image-col:hover .tools {
        visibility: visible;
    }

    .tools {
        display: flex;
        visibility: hidden;
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        padding: 4px;
        background: rgba(0, 0, 0, 0.8);
        justify-content: space-between;
        color: #fff;
    }

    .tools a[disabled=disabled] {
        opacity: 0.3;
    }

    .tools a {
        color: #fff;
        padding: 10px 15px;
        border-radius: 3px;
    }

    .tools a:hover {
        background: rgba(255, 255, 255, 0.4);
    }
</style>
