<template>
    <div class="upload-wrapper">
        <div class="upload-widget card">
            <div class="card-header clearfix">
                <h4 class="panel-title pull-left">Upload Image(Max Size: 3Mb)</h4>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-sm" @click.prevent="onClickCross">
                        <i class="fa fa-window-close"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <vue-dropzone
                    @vdropzone-removed-file="onRemoveFile"
                    @vdropzone-success="onSuccessUpload"
                    @vdropzone-canceled="onCanceled"
                    @vdropzone-error="onUploadError"
                    ref="myVueDropzone"
                    id="dropzone"
                    :options="dropzoneOptions"
                ></vue-dropzone>
                <hr>
                <span>Recommend size: <span class="text-danger">1000px</span> x <span class="text-danger">1000px</span> (Resloution 70pix)</span>
                <hr>
                <button class="btn btn-success pull-right" @click.prevent="onAddImage">Add</button>
            </div>
        </div>
    </div>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.css'

    export default {
        name: 'app',
        components: {
            vueDropzone: () => import('vue2-dropzone'),
        },
        props: {
            onClose: {
                type: Function,
                required: true,
            },
            maxFiles: {
                default: 30
            }
        },
        data: function () {
            return {
                files: {},
                dropzoneOptions: {
                    url: file_upload_url,
                    thumbnailWidth: 150,
                    maxFilesize: 3,
                    maxFiles: this.maxFiles,
                    acceptedFiles: 'image/*',
                    paramName: 'images[]',
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload fa-fw'></i> Drop files here to upload",
                    parallelUploads: 10,
                    headers: {
                        'X-CSRF-TOKEN': token.content
                    }
                }
            }
        },
        methods: {
            onClickCross() {
                this.onClose(false)
            },
            onAddImage() {
                this.onClose(this.files)
            },
            onRemoveFile(file) {
                delete this.files[file.upload.uuid]
            },
            onCanceled(file) {
            },
            onUploadError(file, response, xhr) {
                if (xhr.status === 422 && response.message) {
                    toastr.error(response.message)
                }
                console.log(file, message, xhr)
            },
            onSuccessUpload(file, response) {
                this.files[file.upload.uuid] = {
                    dataUrl: file.dataURL,
                    id: response[0].id,
                };
            }
        }
    }
</script>

<style>
    .upload-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        width: 100%;
        overflow: auto;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.8);
    }

    .upload-widget {
        border: 1px solid #333;
        background: #fff;
        width: 60%;
        margin: 0 auto;
        margin-top: 100px;
    }
</style>
